/* Site components */

.App {
  text-align: center;
  background-color: #ffe9ca;

}

.App-main {
  margin-bottom: 0em;
}

.aboutMe {
  margin: 3rem;
}

.city-image {
  width:100%;
  margin-bottom: -2em;
}

.footer { 
  bottom: 0;
  max-width: 100vw;
  text-align: center;
  background-color: #4a73b1;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

.form-container {
  margin-top: -2rem;
}

header{
  background-color: #4a73b1;
  padding: 1rem;
    margin-bottom: -30px
  }


.languageIcon {
  width: 8%
  
}

.languageIconContainer{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    max-width: 60%;
}


.main {
  margin-top: 1rem;
  margin-bottom: -1rem;
  }
  
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  



  
.project-container{
    display: flex;
        justify-content: space-evenly;
    }

.Projects{
width: 80%;
margin-bottom: 3rem;
}
  
.project-desc {
  width: 65%;
  display: inline-flex;
  justify-content: space-around;
}


.resume-container {
    margin-top: 40px;
    height: 60%;
    margin-bottom: 2rem;   
}
   
img {
  width: 60%;
}

.linkIcon {
  width: 20%
}

.aboutMe-Container {
  text-align: center;
}

.pic-container {
  width: 30%;
  margin-bottom: 2rem;
 display: inline-flex;
 justify-content: space-around;
 
}

.prof-pic {
border-radius: 10px;
border: 3px solid #4a73b1

}

.ProjectIcon {
  margin-bottom: 2rem;
}

.ProjectIcon:hover, .linkIcon:hover {
  transform: scale(1.2, 1.2)
}

.city {
  width: 100%;
}

/* Fonts  */
h1 {
    color: #92dccd;
    font-size: 65px;
    font-weight: 300;
    letter-spacing: 15px;
  
  
  }
  
header h1{
font-size: 72px;

}  
   

h2{
    color: black;
    font-weight: 200;
    font-size: 31px;
  }
  
  
h3{
    color: #92dccd; 
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 30px;
  }
  
  h4{
    color: #92dccd; 
    font-weight: 200;
    font-size: 25px;
    text-decoration: none;
  }



  /* Forms */

  /* form styles */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
#fs-frm #card-element:disabled {
      font-family: inherit;
font-size: 100%;
color: inherit;
border: none;
border-radius: 0;
display: block;
width: 60vw;
padding: 0;
margin: 0;
-webkit-appearance: none;
-moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
font-size: .825em;
margin-bottom: .5em;
/* padding-top: .2em; */
display: flex;
align-items: baseline;
}
/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
border: 1px solid rgba(0,0,0,0.2);
background-color: rgba(255,255,255,0.9);
padding: .75em 1em;
margin-bottom: 1.5em;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
      background-color: white;
outline-style: solid;
outline-width: thin;
outline-color: #4a73b1;
outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
      width: 60vw;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
      width: auto;
cursor: pointer;
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
      outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
      margin-bottom: 0;
}
#fs-frm select {
      text-transform: none;
}

