/* Site components */

.App {
  text-align: center;
  background-color: #ffe9ca;
  scroll-behavior: smooth;

}

.App-main {
  margin-bottom: 0em;
}

.aboutMe {
  margin: 3rem;
}

.aboutMe-Container {
  text-align: center;
}

.city-image {
  width:100%;
  margin-bottom: -2em;
}

.city {
  width: 100%;
}

.footer { 
  bottom: 0;
  max-width: 100vw;
  text-align: center;
  /* background-color: #4a73b1; */
  background-color: #012C49;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

.form-container {
  margin-top: -2rem;
}

header{
  /*  background-image: url('./components/assets/PP10110507-Tropical-Green-Ocean-Water.jpg');  */
  background-position: center;  
  margin-bottom: -30px;
    display: flex;
    flex-direction: column;
        justify-content: center;
        background-color: rgb(1, 44, 73);
        padding: 2rem;    
}


img {
  width: 60%;
}

.languageIcon {
  width: 8%
  
}

.languageIconContainer {
  /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    margin-bottom: 2rem;
    /* max-width: 60%; */
}

.linkIcon {
  width: 10%;
  margin: 2rem;
}

.main {
  background-position: center;
  margin-top: 1rem;
  margin-bottom: -1rem;

}
  
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pic-container {
  width: 30%;
  margin-bottom: 2rem;
 display: inline-flex;
 justify-content: space-around;
 
}

.prof-pic {
  border-radius: 10px;
  border: 5px solid #012C49;
  }
  
.ProjectIcon {
    margin-bottom: 2rem;
  }


.project-container{
    display: flex;
        justify-content: space-evenly;
        
}
 

.project-desc {

  display: inline-flex;
  justify-content: space-around;
  width: 60%;
}

.project-links { 
  display: flex;
  justify-content: space-evenly;
}

.project-type {
  width: 75%;
}

.Projects{
    width: 80%;
    margin-bottom: 3rem;
}

.resume-container {
    margin-top: 40px;
    height: 60%;
    margin-bottom: 2rem; 
    text-shadow: 1px 1px black;  
}

.linkIcon:hover, .project-link:hover {
  transform: scale(1.2, 1.2)
}


/* Fonts  */
h1 {
    color: #92dccd;
    font-size: 65px;
    font-weight: 300;
    letter-spacing: 15px;
  
  
  }
  
header h1{
font-size: 72px;

}  

.project-container h1 {
  text-shadow: 1px 1px black;
}

.aboutMe-Container h1 {
  text-shadow: 1px 1px black;
}

h2{
    color: black;
    font-weight: 200;
    font-size: 31px;
  }
  
h3{
    color: #92dccd; 
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 38px;
  }

 .Project-card h3 {
   text-shadow: 1px 1px black;
 } 
  
  h4{
    color: #92dccd; 
    font-weight: 200;
    font-size: 25px;
    text-decoration: none;
  }

.contact-page h1, h3 {
  text-shadow: 1px 1px grey;
}


  /* Forms */

  /* form styles */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
#fs-frm #card-element:disabled {

font-size: 100%;

border: none;
border-radius: 0;
display: block;
width: 50vw;
padding: 0;
margin: 0;
-webkit-appearance: none;
-moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
font-size: .825em;
margin-bottom: .5em;
/* padding-top: .2em; */
display: flex;
align-items: baseline;
}
/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
border: 1px solid rgba(0,0,0,0.2);
background-color: rgba(255,255,255,0.9);
padding: .75em 1em;
margin-bottom: 1.5em;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
      background-color: white;
outline-style: solid;
outline-width: thin;
outline-color: #4a73b1;
outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
      width: 40vw;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
      width: auto;
cursor: pointer;
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
      outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
      margin-bottom: 0;
}
#fs-frm select {
      text-transform: none;
}
