.carousel-container {
  /* margin-top: 2rem;
    height: 67vh; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .slider {
    width: 87%;
    text-align: center;
    align-items: center;
    overflow: hidden;
  }


  
  .slides {
    height:100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
  }

  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 80%;
    height: 20rem;
    margin-right: 4rem;
    border-radius: 10px;
    background: #012c49;
    position: relative;;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: #012c49;
    border: .5em solid #80d0c7;
    color: #80d0c7;
    padding: 2%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1rem;
    position: relative;
  }
  
/*Carousel layout */
 .slide {
  height: 60vh;
   display: flex;
   flex-direction: column; 
   border: .5rem solid #80d0c7; 
   background-color: red;
   margin-bottom: 1rem;
 }
  .carousel-icon {
    width: 25%;
    border: 2px solid #80d0c7;
    margin-bottom: 2rem;
  
  }
  .big {
    width: 27%;
  }

  .slide h1 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2rem;
    color: #80d0c7;
    
  }

  #slider-button {
    margin-top: 4rem;
  }
  #slider-button:hover{
    transform: scale(1.3);
  }

  .carousel-icon:hover {
    transform: scale(1.4);
    margin-top: 1rem;
    margin-bottom: 1.5rem ;
  }
  .slide p {
    color: #80d0c7;
    letter-spacing: .5em;
  }
  /* Don't need button navigation */

  